.input {
    padding: 10px;
    border-radius: 20px;
    background-color: #ccc;
    color: #232323;
    border: none;
    font-weight: 500;
    min-width: 500px;
    font-size: 1.1em;
    box-shadow: #00000029 0 0 20px;
    transition: 0.2s;
}

.input:focus-visible {
    outline: none;
    box-shadow: #00000035 0 0 25px;
}